.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form__group input {
  width: 75%;
  padding: 5px 10px;
  border-color: #646cff;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
}

.form__submit {
  margin-top: 10px;
}

.form__message {
  margin-top: 10px;
  font-weight: bold;
  /* text-align: left; */
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.form__message--success {
  color: #06bd06;
}

.form__message--error {
  color: #ff0a0a;
}
